body {
  background: rgb(50, 55, 82);
  color: #fff;
  font-family: Verdana, Tahoma, sans-serif;
}

.menu {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.race-controls {
  margin-bottom: 1rem;
}

.btn:active {
  transform: translateY((4px));
}

.btn:disabled {
  background: #888;
}

.btn-group {
  display: inline-block;
}

.btn-secondary {
  height: 1.5rem;
  padding: 0 1.2rem;
}

.btn.generator-button {
  width: 10rem;
}

.form {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
}

.input {
  border: 0;
  border-radius: 4px;
  background: rgb(205, 202, 238);
  font-size: 14px;
  padding: 4px;
  height: 1.5rem;
  width: 15rem;
}

.input:disabled {
  background: rgb(127, 128, 146);
}

.color {
  border: 0;
  border-radius: 4px;
  background-color: rgb(205, 202, 238);
  height: 1.5rem;
}

.color:disabled {
  background-color: rgb(127, 128, 146);
}

.garage {
  list-style: none;
  padding: 0;
  margin-bottom: 5rem;
}

.garage .car {
  width: 100px;
  margin-bottom: -20px;
}

.track {
  display: flex;
}

.control-panel {
  width: 12rem;
  padding: 10px 20px 0 0;
}

.start-engine-btn {
  color: rgb(89, 214, 89);
}

.stop-engine-btn {
  color: rgb(211, 23, 23);
}

.icon {
  cursor: pointer;
  background: none;
  border: 2px solid;
  border-radius: 8px;
  font-size: 20px;
  columns: #fff;
  padding: 0 6px 3px 6px;
}

.icon:hover {
  color: rgb(76, 118, 167);
}

.icon:disabled {
  color: #888;
  cursor: auto;
}

.icon.enabling {
  color: rgb(76, 118, 167);
}

.car {
  padding: 20px 0 0;
}

.car-name {
  font-weight: 700;
  font-size: 14px;
  padding-left: 20px;
  color: rgb(189, 204, 255);
}

.road {
  display: flex;
  margin-bottom: 1.5rem;
  border-bottom: 4px dashed snow;
  justify-content: space-between;
  align-items: baseline;
}

.flag {
  padding: 0 0;
  font-size: 60px;
  align-self: flex-end;
}

.table {
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.table td,
table th {
  font-size: 16px;
  padding: 0.5rem;
}

.table td {
  color: #fff;
}

.table th {
  background: rgb(148, 142, 226);
}

.table-button {
  cursor: pointer;
  user-select: none;
}

.table-button.asc::after {
  content: " ⬆";
}

.table-button.desc::after {
  content: " ⬇";
}

.message {
  top: calc(50% - 150px);
  left: calc(50% - 250px);
  text-align: center;
  display: none;
  position: fixed;
  font-size: 50px;
  color: #fff;
  width: 500px;
  background: rgba(0, 0, 0, 0.5);
  padding: 3rem;
  border-radius: 10px;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px rgb(185, 137, 240),
    0 -10px 20px #7049cc, 0 -10px 40px rgb(55, 0, 255);
}

.message.visible {
  display: block;
}

#winners {
  display: none;
}
